{% extends "base.html" %} {% block content %}
<h2>All tasks</h2>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Completed</th>
      <th>Created At</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for task in tasks %}
    <tr>
      <td>{{ task.title }}</td>
      <td>{{ task.description|linebreaksbr }}</td>
      <td>
        <form method="post" action="{% url 'todo:toggle_task' task.id %}">
          {% csrf_token %}
            <button type="submit" class="btn {% if task.completed %}btn-success{% else %}btn-danger{% endif %}">{{ task.completed|yesno:"Completed,Not Completed" }}</button>
        </form>
      </td>
      <td>{{ task.created_at }}</td>
      <td>
        <a href="{% url 'todo:edit_task' task.id %}" class="btn btn-primary">Edit</a>
        <a href="{% url 'todo:delete_task' task.id %}" class="btn btn-danger">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
