{% extends "base.html" %}
{% load static %}
{% block title %}Home Page{% endblock %}


{% block content  %}
    <h1>Welcome to Home page</h1>
    <p>This is my home page</p>
    <img src="{% static 'images/Ok.png' %}"/>

    <form method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username"/>
        <input type="password" name="pasword" placeholder="Username"/>
        <button type="submit">Login</button>
    </form>

    <button onclick="showAlert()">Click ME</button>
{% endblock  %}