body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    text-align: center;
    padding: 20px;
}

nav ul{
    text-align: none;
    background: #333;
    padding: 10px;
}

nav ul li a{
    display: inline;
    margin-right: 10px;
    text-decoration: none;
}

h1{color: rgb(23, 23, 196);}