<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Porfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Optional: basic styling -->
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 40px;
            background-color: #f4f4f4;
        }
        h1 {
            color: #333;
        }
        .container {
            background: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
    </style>
</head>
<body>

    <div class="container">
        <h1>Hello World</h1>
        <p>This is a dummy HTML template.</p>
        {% if students %}
                <table border="1" cellpadding="10" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Age</th>
                        <th>City</th>
                    </tr>
                </thead>

                <tbody>
                    {% for student in students %}
                        <tr>
                            <td>{{student.name}}</td>
                            <td>{{student.age}}</td>
                            <td>{{student.city}}</td>
                        </tr>                   
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>

</body>
</html>